.posts {
    padding: 50px 0;
    text-align: center;
}

.posts-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px; /* Added padding to give some space on the sides */
}

.sbi_header_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    margin-bottom: 30px;
}

.sbi_header_img {
    width: 80%;
}

.sbi_feedtheme_header_text h3 {
    font-size: 1.5em;
    margin-left: 10px;
}

#sbi_images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between images */
    justify-content: center; /* Center images in the container */
}

.sbi_photo_wrap {
    position: relative;
    width: calc(25% - 10px); /* Four images per row with space */
    margin-bottom: 10px; /* Add space below each image */
}

.sbi_photo_wrap img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; /* Optional: Rounded corners for images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Slight shadow for depth */
}

.sbi_photo_wrap a img {
    opacity: 1; /* Ensure image is fully visible */
}

/* Hide placeholder images */
.sbi_photo_wrap img[src*='placeholder.png'] {
    display: none;
}

a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition effect */
    font-family: "Reddit Mono", monospace;
}

a:hover {
    color: #666; /* Change color on hover for all links */
}