.skills-wrapper {
   border: 5px solid black;
}

.skills {
    background-color: #EFDECD; /* Background color */
    padding: 0;
    text-align: center;
}

.skills-content {
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 100vh;
}

.projectman-image,
.bruksholmen-image {
   height: 100%;
   object-fit: cover;
   flex-shrink: 0;
   width: 50%; 
}