@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A0785A; 
    width: 100%;
    font-size: 18px;
}

.project-title {
    text-align: center;
    font-size: 22px;
    font-family: "Sofia", cursive;
    color: white;
    font-weight: 100;
}

.project-header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.project-header img {
    max-width: 65%;
    height: auto;
}

.additional-text {
    color: white; /* Change text color to white */
    margin-bottom: 20px;
    font-family: "Lora", serif;
    max-width: 80%;
    font-size: 14px;
    line-height: 1.5;
}

.additional-images {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
}

.additional-images img {
    max-width: calc(50% - 10px); /* Calculate width for three images per row with spacing */
    height: auto;
}

.back-button {
    background-color: #fff;
    color: #A0785A; /* Change text color to match background */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add transition effect */
    font-family: "Lora", serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

.back-button:hover {
    background-color: #A0785A;
    color: #fff; /* Change text color on hover */
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
    .additional-text {
        max-width: 80%;
        font-size: 20px;
        line-height: 1.5;
    }
    
    .additional-images img {
        max-width: calc(50% - 10px); /* Adjust for smaller screens to show two images per row */
    }

    .project-title {
        font-size: 30px;
    }
}



@media only screen and (min-width: 1024px) {
    .additional-text {
        max-width: 80%;
        font-size: 20px;
        line-height: 1.5;
    }
    
    .additional-images img {
        max-width: calc(33.33% - 10px); /* Calculate width for three images per row with spacing */
        height: auto;
    }

    .project-title {
        font-size: 34px;
    }
}