.carousell {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 24px;
}

.description {
    text-align: center;
    font-size: 16px;
}

.prev-button,
.next-button {
    background: none;
    border: none;
    cursor: pointer;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


.left-arrow-img,
.right-arrow-img {
    width: 45px;
    height: auto;
}

.project-image {
    width: 400px;
    height: auto;
}

.project-image img {
    width: 100%; /* Make the image responsive */
    height: auto;
}

.see-more-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
    text-align: center;
    width: 100%;
    margin-top: 25px;
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
    .carousell {
        padding: 20px;
    }

    .header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .project-image {
        max-width: 600px; 
    }

    .left-arrow-img,
    .right-arrow-img {
    width: 65px;
    height: auto;
    }
}

@media only screen and (min-width: 1024px) {
    .carousell {
        padding: 20px;
    }
    
    .header-row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .project-image {
        max-width: 600px;
    }

    .left-arrow-img,
    .right-arrow-img {
    width: 65px;
    height: auto;
    }
}