@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.intro {
    background-color: #A0785A; /* Same as header background color */
    color: white;
    padding: 50px 0;
    text-align: center;
}

.intro-content {
    max-width: 800px;
    margin: 0 auto;
    font-family: "Lora", serif;
}

.intro h1 {
    font-size: 42px;
    font-family: "Sofia", cursive;
    font-style: normal;
    font-weight: 400;
}

.intro p {
    font-size: 1.2rem;
    margin-top: 20px;
}