@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

.footer {
    background-color: #A0785A; /* Same as header and intro background color */
    color: white;
    padding: 50px 0;
    text-align: center;
}

.CreatedBy {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: "Reddit Mono", monospace;
    color: white; 
}

.CreatedBy a {
    color: black; /* Ensure the initial color is white */
    text-decoration: none; /* Remove underline initially */
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition for color and underline */
}

.CreatedBy a:hover {
    color: white; 
    text-decoration: underline; 
}


