.footer {
    background-color: #A0785A; /* Same as header and intro background color */
    color: white;
    padding: 50px 0;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer h1 {
    font-size: 2.5rem;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.contact-list li {
    margin-bottom: 10px;
}

.contact-list li a {
    color: white;
    text-decoration: none;
}

.contact-list li a:hover {
    text-decoration: underline;
}