.header {
    background-color: #A0785A;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: center;
}

.header-link {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header-link:hover {
    color: #F2E7D8;
}