@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

html {
  scroll-behavior: smooth;
}

[data-instagram-feed],
[data-contact-form] {
  display: none;
}

nav {
    background-color: #A0785A;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    font-family: "Lora", serif;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    display: inline;
    margin-right: 20px; /* Adjust spacing between links */
  }
  
  li:last-child {
    margin-right: 0; /* Remove margin from the last link */
  }
  
  a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition effect */
    font-family: "Reddit Mono", monospace;
  }
  
  a:hover {
    color: white; /* Change color on hover */
    text-decoration: underline;
  }